@charset "UTF-8";

.header {
	padding: 20px;
	text-align: center;
	background-color: #CCCCFF;
}

.titleName {
	text-align: left;
	font-size: xx-large;
}

.doneMessage {
	color: blue;
}

.errorMessage {
	color: red;
}

.itemName {
	display: inline-block;
	width: 90px;
}


table, td, th {
	border: 2px #808080 solid;
}

body {
	white-space: nowrap;
}